[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyshacl = "*"
python-dotenv = "*"
ipykernel = "*"
typing = "*"

[packages]
rdflib = "*"
controls = {path = ".", editable = true}
requests = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
pyyaml = "*"
buildingmotif = "*"
notebook = "*"
setuptools = "*"
