[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyshacl = "*"
python-dotenv = "*"
ipykernel = "*"
typing = "*"
setuptools = ">=70.0.0"

[packages]
rdflib = "*"
dflexlibs = {path = ".", editable = true}
requests = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
pyyaml = "*"
notebook = "*"
buildingmotif = {ref = "develop", git = "https://github.com/NREL/buildingmotif.git"}
